 <!-- About Section -->
 <!-- modified by christopher kittel -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="text-center">About me</h2>
                      <div class="col-md-6 text-justify">
                          <h4 class="text-center">Background</h4>
                          <p class="text-justify">
                          System Sciences, Environmental Economics</p>
                      </div>
                      <div class="col-md-6 text-justify">
                          <h4 class="text-center">Vision</h4>
                          <p>Machine Learning and Data Science are powerful tools, but when applying them we need to avoid the "Type III Error", describing the situation of "Answering the wrong question", or "Solving the wrong problem".
                          For me it means developing tools in close cooperation with individuals and communities, thoroughly assessing their needs and then homing in on the issue that code and data really can solve.</p>
                          <p>I aim to develop software as a tool to empower humans with the knowledge they need. This also means producing as open as possible, and make code, data and processes re-usable, adaptable and shareable without barriers.</p>
                      </div>
                </div>
            </div>
              <div class="row">
                <div class="col-lg-3 text-center col-lg-offset-3">
                  <h4>Methods</h4>
                  <ul class="list-group">
                    <li class="list-group-item">Natural Language Processing</li>
                    <li class="list-group-item">Machine Learning</li>
                    <li class="list-group-item">Knowledge Graphs</li>
                  </ul>
                </div>
                <div class="col-lg-3 text-center">
                  <h4>Stack</h4>
                  <ul class="list-group">
                    <li class="list-group-item">Python</li>
                    <li class="list-group-item">Apache Spark</li>
                    <li class="list-group-item">Neo4j, </li>
                  </ul>
                </div>
              </div>
            </div>
          <hr>
        </div>
    </section>
