 <!-- About Section -->
 <!-- modified by christopher kittel -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="text-center">Background</h2>
                    <div class="text-justify justify-content-center">
                        <h4 class="text-center">Approach</h4>
                        <p>Machine Learning and Data Science are powerful instruments, but when applying them we need to avoid the "Type III Error", describing the situation of "Answering the wrong question", or "Solving the wrong problem".
                        For me it means developing tools in close cooperation with individuals and communities, thoroughly assessing their needs and then homing in on the issue that code and data really can solve.</p>
                        <p>I aim to develop software as a tool to empower humans with the knowledge they need. This also means working as open as possible, and making code, data and processes re-usable, adaptable and shareable without barriers.</p>
                        <p>During my studies I recognized the need for increasing public access to knowledge, and the complementary need for tools that scale with the increasing amount of knowledge produced.
                          Around 2013 I joined the Open Science Movement, where both issues are being tackled - on the one hand by advocating for Open Access and Open (Research) Data, on the other hand by creating an open ecosystem of tools and services.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-2">
                  <h4>Methodologies</h4>
                    Machine Learning | Deep Learning<br>
                    Natural Language Processing<br>
                    Graph Mining
                </div>
                <div class="col-md-4 col-md-offset-1">
                  <h4>Stack</h4>
                    Languages: Python | R<br>
                    Frameworks: Spark | Keras/Tensorflow<br>
                    Data: Neo4j | MongoDB<br>
                    Deployment: AWS | Heroku | standalone
                </div>
            </div>
        </div>
      <hr>
    </section>
