
    <!-- Projects Grid Section -->
    <section id="community">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Community Activities</h2>
                    <div class="col-lg-8 col-lg-offset-2">
                        <p>I’m also active in the Open Science movement, contributing to Open Knowledge and Mozilla Science Lab efforts to help open up research and increase reproducibility and re-usability of scientific results, methods and processes.</p>
                    </div>
                </div>
            </div>
            <!-- /.row -->
            <hr>
            <div class="row">
                <div class="col-md-4">
                  <a >
                    <img id="1" data-toggle="modal" data-target="#OK" class="img-responsive img-thumbnail" src="img/projects/placeholder.png" alt="Open Knowledge">
                  </a>
                </div>
                <div class="col-md-8">
                    <h3>Open Knowledge Austria</h3>
                    <h4>Empowering communities by opening up knowledge</h4>
                    <p>Since August 2016 I'm a board member of Open Knowledge Austria. We run community projects in the field of Open Data, Open Science, Transparency and Code Literacy.</p>
                    <a class="btn btn-primary" target="_blank" href="http://okfn.at/">Click here to learn more (in German).</a>
                </div>
            </div>
        </div>
    </section>
