<!-- modified by christopher kittel -->
       <div class="container">
           <div class="row">
               <div class="col-md-8 col-md-offset-2">
                 <h3><a href="/">Back</a></h3>
                   <h4>Impressum</h4>
                    <div class="text-justify justify-content-center">
                      <h5>Informationspflichten gemäß § 63 GewO</h5>
                      <p>Christopher Kittel</p>
                      <p>Mühlsangergasse 42/5/44, 1110 Wien, Austria</p>
                      <p>web [at] christopherkittel [.] eu</p>
                      <p>Dienstleistungen in der automatischen Datenverarbeitung und Informationstechnik</p>
                      <p>Mitglied der WKO, Fachgruppe Wien der Unternehmensberatung, Buchhaltung und Informationstechnik</p>
                      <p><a href="https://www.ris.bka.gv.at/NormDokument.wxe?Abfrage=Bundesnormen&Gesetzesnummer=10007517&FassungVom=2016-08-11&Artikel=&Paragraf=153&Anlage=&Uebergangsrecht=">Gewerbeordnung</a></p>
                      <p>Gewerbebehörde: Magistrat der Stadt Wien, Magistratisches Bezirksamt für den 11. Bezirk.</p>
                      <p>GISA-Zahl: 29703388</p>
                      <p>UID: ATU 72303367</p>
                    </div>
               </div>
           </div>
       </div>
