
    <!-- Projects Grid Section -->
    <section id="projects">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Projects</h2>
                      <div class="col-lg-8 col-lg-offset-2">
                        <p>I specialize in developing data science pipelines for research projects and NGOs. If you have a specific use case or simply want to discuss an idea, <a href = "mailto:contactATchristopherkittelDOTeu" onclick = "this.href=this.href.replace(/AT/,'&#64;').replace(/DOT/,'&#46;')">drop me a line!</a></p>
                      </div>
                </div>
            </div>
            <!-- /.row -->
            <hr>
            <div class="row">
                <div class="col-md-4">
                  <a >
                    <img data-toggle="modal" data-target="#OKM" class="img-responsive img-thumbnail" src="img/projects/OKM.png" alt="Open Knowledge Maps">
                  </a>
                </div>
                <div class="col-md-8">
                    <h3>Open Knowledge Maps</h3>
                    <h4>A visual interface to the world's scientific knowledge</h4>
                    <p>Open Knowledge Maps are creating a visual interface to the world's scientific knowledge that can be used by anyone in order to dramatically improve the discoverability of research results.
                    I help a bit with the algorithms that cluster and summarize the search results</p>
                    <a class="btn btn-primary" target="_blank" href="http://openknowledgemaps.org/index.php">Try it out!</a>
                </div>
            </div>
            <!-- /.row -->
            <hr>
            <div class="row">
                <div class="col-md-4">
                  <a >
                    <img data-toggle="modal" data-target="#dlina" class="img-responsive img-thumbnail" src="img/projects/dlina.png" alt="dlina">
                  </a>
                </div>
                <div class="col-md-8">
                    <h3>dlina</h3>
                    <h4>A workflow for a Digital Literary Network Analysis</h4>
                    <p>Working group members are Frank Fischer, Mathias Göbel, Dario Kampkaspar, Hanna-Lena Meiners, Danil Skorinkin, and Peer Trilcke. We're looking into hundreds of dramatic texts ranging from Greek tragedies to 20th-century plays and work on larger German, French, English, and Russian corpora.</p>
                    <a class="btn btn-primary" target="_blank" href="https://dlina.github.io/">Click here to learn more.</a>
                </div>
            </div>
            <!-- /.row -->
            <hr>
            <div class="row">
                <div class="col-md-4">
                  <a >
                    <img data-toggle="modal" data-target="#CM" class="img-responsive img-thumbnail" src="img/projects/CM.png" alt="Content Mine">
                  </a>
                </div>
                <div class="col-md-8">
                    <h3>ContentMine</h3>
                    <h4>The Right To Read Is The Right To Mine</h4>
                    <p>ContentMine develops open source software for mining the scientific literature and engage directly in supporting researchers to use mining, saving valuable time and opening up new research avenues.</p>
                    <a class="btn btn-primary" target="_blank" href="http://contentmine.co/">Click here to learn more.</a> <a class="btn btn-primary" target="_blank" href="http://contentmine-demo.herokuapp.com/index">Try a demo here!</a>
                </div>
            </div>
        </div>
    </section>
