<!-- modified by christopher kittel -->
<!DOCTYPE html>
<html>
    {% include head.html %}
    <!-- Navigation -->
    <!-- modified by christopher kittel -->
    <body>
    <div class="container">
        <div class="col-md-8 text-center col-md-offset-2">
            <h2>{{page.title}}</h2>
                {{content}}
        </div>
    </div>
        <div class="col-md-8 text-center col-md-offset-2" style="padding-bottom: 70px; padding-top: 15px;">
          <a href="../../../../blog">Back</a>
          -
            <a href={{site.url}}>Home</a>
        </div>
    {% include js.html %}
    </body>
</html>
